* {
  box-sizing: border-box;
}

.small-container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

#output {
  justify-self: center;
  height: 800px;
}

#output .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 2px;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}

.row-2 {
  padding-top: 100px;
}

#output .product-wrapper {
  background-color: white;
  border-radius: 7px;
  width: 350px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
}

#output .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 9999;
  padding: 1rem;
}

.column > img {
  width: 150px;
  height: 150px;
  padding: 1rem;
}

.column > h5 {
  font-weight: bold;
  margin-top: 0.5rem;
  padding-left: 3rem;
}

.column > p {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.btn {
  background: cadetblue;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0.55rem;
}

.mywish-id i {
  color: cadetblue;
  font-size: 1.5rem;
  text-align: center;
}

.mywish-id i:hover {
  color: red;
}

.input {
  border: none;
  outline: none;
  text-align: center;
  width: 3rem;
}

.page-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== PAGINATION STYLING ===== */
#feedback {
  font-size: 1.4em;
}

#selectable .ui-selecting {
  background: #feca40;
}

#selectable .ui-selected {
  background: #f39814;
  color: white;
}

#selectable {
  list-style-type: none;
  margin: 0;
  padding: 5;
  width: 60%;
}

#selectable li {
  margin: 3px;
  padding: 0.4em;
  font-size: 1.4em;
  height: 18px;
}

#page-cont {
  width: 100%;
}

.simple-pagination ul {
  padding: 0;
  list-style: none;
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.simple-pagination li {
  display: inline-block;
  margin: 2px;
  margin-bottom: 30px;
}

.simple-pagination li a,
.simple-pagination li span {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  margin: 5px;
  transition: all 0.5s ease;
}

.simple-pagination li a:hover {
  background-color: #ecc19c;
  color: white;
}

.simple-pagination .current {
  color: white;
  background-color: #ecc19c;
  border: 1px solid white;
  cursor: pointer;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
  background-color: #ecc19c;
  border: none;
}
